[Unit]
Description=Weather Station pusing information to AWS IoT

[Service]
Type=simple
ExecStart=/opt/WeatherStation-app/run.sh

[Install]
WantedBy=multi-user.target